.statement__table {
    width: 100%;
    align-self: flex-start;
    text-align: center;
    font-size: 2em;
}

.statement__table tbody tr:nth-child(odd) {
    backdrop-filter: brightness(0.9);
}

.statement__table td, .statement__table th {
    padding: .75em 0;
}

.statement__value--expense {
    color: #c40000;
}

.statement__value--income {
    color: #0b8600;
}