.menu {
    display: flex;
    width: 300px;
    height: 100%;
    flex-direction: column;
    background-color: var(--bg-menu);
    box-shadow: 0 0 50px -25px #000;
}

.menu__title {
    margin: 1em 0;
    align-self: center;
    font-size: 4em;
}

.menu__link {
    display: flex;
    padding: 1em 0 1em 2em;
    align-items: center;
    color: blueviolet;
    font-size: 2em;
}

.menu__link:hover {
    backdrop-filter: brightness(.9);
}

.menu__link:hover span {
    color: #000;
}

.menu__span {
    margin-left: 1em;
}