.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

/* INFO */

.header__user-info {
    width: auto;
    display: flex;
    flex-direction: column;
}

.header__name {
    font-size: 3em;
    font-weight: 600;
}

.header__balance {
    color: gray;
    font-size: 1.8em;
    grid-column: auto;
}

.header__balance strong {
    color: blueviolet;
    font-weight: bold;
}

/* OPTIONS */

.header__options {
    display: flex;
}

.header__options-sep {
    width: 2.5px;
    height: 3em;
    margin: 0 1em 0 1em;
    background-color: gray;
}