.loading {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 45%;
    left: 45%;
    border: 7px solid var(--border-loading);
    border-radius: 50%;
    border-top-color: var(--border-loading--secondary);
    animation: rotate 1s infinite;
    margin: auto;
}
  
@keyframes rotate{
    to{
        transform: rotate(1turn);
    }
}

@media (max-width:768px){
    .load {
        left: 40%;
    }
}